<div class="row item">
  <div class="span8 offset2">
  <% @links.each do |link| %>
    <a href="<%= link.url %>" class="span6"><%= link.title %></a>
    <a href="<%= link_path(link.id)%>" class="span1">文字</a>
  <% end %>
  </div>
</div>
