/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */

 $colWidth: 80px;
 $black: rgb(0,0,0);
 $white: rgb(255,255,255);

 @mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

 body{
 	margin: 0;
 }

 .container{
 	margin-right: auto;
 	margin-left: auto;
 	width: 960px;
 }

 .row{
 	@include clearfix;
 }

 @for $i from 1 through 12 {
 	.span#{$i} { width: $colWidth * $i; }
 }

  @for $i from 1 through 12 {
 	.offset#{$i} { 
 		margin-left: $colWidth * $i;
 	}
  }

 [class*="span"] {
 	float: left;
 }

 .date{
 	line-height: 2.0;
 	background-color: lighten($black, 10%);
 	color: $white;
  margin: 10px 0;
 }

 .item{
 	line-height: 2.0;
 }

 .view_text{
  text-align: right;
 }

 a{
 	color: $black;
 	background-color: $white;
 	text-decoration: none;
 }
 a:hover{
 	// color: $white;
 	// background-color: lighten($black, 20%);
 }
 a:visited{
 	color: lighten($black, 40%);
 }

 .navbar{
 	line-height: 3.0;
 	border-bottom: double;
 	margin-bottom: 20px;
 }
 .navbar .row{
 	width: $colWidth * 8;
 	margin: 0 auto;
 }
 .navbar a,form,{
 	display: inline-block;
 }
 .navbar a{
 	padding: 0 5px;
 	// width: 80px;
 	// text-align: center;

 }
 .navbar form{
 	// float: right;
 }

 .tabs{
 	line-height: 32px;
 	margin-bottom: 20px;
 }

 // form
 input{
 	border: dotted;
 	border-color: $black;
 	border-width: 1px;
 }
 .button{
 	
 }